---
	import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---

<Layout title="Rythm Nation Blog">
	<Main>
		<H1 text="Rythm Nation"/>
		<!-- Principio del widget integrado de Calendly -->
	<div class="calendly-inline-widget" data-url="https://calendly.com/seinlexagenda" style="min-width:320px;height:700px;"></div>
	<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
	<!-- Final del widget integrado de Calendly -->
		
	</Main>
</Layout>


